/* containers */
body{
    background-image: url("../images/background.png");
    text-align: center;
}

#main{
    background-color: #FAE0E0;
    margin-left: 14%;
    margin-right: 12%;
    padding-top: 1%;
    border: 10px dashed #fdd863;
    position: fixed;
    height: 100%;
}

/* text */
h1{
    color: #f55241;
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
}

p, h2{
    font-family: 'Roboto', sans-serif;
}

h5{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

h5:hover{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #E49697;
    border: 2px dashed #F7D858;
    color: white;
}


/* buttons */
#start{
    margin: 10%;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    border: 2px dashed white;
    font-weight: bold;
    background-color: #f55241;
}

#start:hover{
    background-color: #F7D858;
    border: 2px dashed lightgrey;
}