body{
    background-image: url("../images/background.png");
    text-align: center;
}

#main{
    background-color: #FAE0E0;
    margin-left: 14%;
    margin-right: 12%;
    padding-top: 1%;
    padding-bottom: 41%;
    border: 10px dashed #fdd863;
    position: fixed;
}

h1{
    color: #f55241;
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
}